/* Definindo o fundo preto para a página inteira */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center !important; 
    align-items: center !important;
    height: 100vh;
}


#register-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #5d5d5d;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px !important;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
