<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <main id="container">
        <section id="right-side">
            <h1 id="title-right-side">Faça login na {{ faculdade }}</h1>
        </section>
        <section id="login-container">
            <h2 id="titulo">LOGIN</h2>
            <div class="inputs">
                <label for="email">Email</label>
                <input type="email" name="email" id="input_email">
            </div>
            
            <div class="inputs">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="input_senha">
            </div>

            <button type="submit">LOGIN</button>
        </section>
    </main>
</body>
</html>