<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
    <title>Registro</title>
</head>
<body>
    <form id="register">
        <div id="container-register">
            <h2> Cadastro de Alunos - {{ faculdade }}</h2>
            <p class="input-p-register">
                <label for="nome_register">Seu nome</label>
                <input id="nome_register" name="nome_register" required="required" type="text"/>
            </p>
            <p class="input-p-register">
                <label for="email_register">Email</label>
                <input id="email_register" name="email_register" required="required" type="email"/>
            </p>
            <p class="input-p-register">
                <label for="pass_register">Senha</label>
                <input id="pass_register" name="pass_register" required="required" type="password"/>
            </p>
            <div>
                <p>Bem vindo</p>
                <button id="button-register">Registrar</button>
            </div>
        </div>
        
    </form>
</body>
</html>